.nav {
   grid-area: n;
   background: rgb(95, 153, 207);
   padding: 20px;
   font-size: 20px;
}

.item {
   color: white;
   text-decoration: none;
}
.active {
   color: rgb(51, 51, 51);
   text-decoration: none;
}
.setting {
   margin: 15px 0px 0px 0px;
}
.friends {
   margin: 50px 0px 0px 0px;
   font-size: 25px;
}
.friendsLink {
   display: flex;
   justify-content: space-between;

   margin-top: 10px;
}
