.image img {
   display: block;
   width: 96%;
   height: 300px;
   padding: 20px;
}

.discriptionBlock {
   display: grid;
   grid-template-columns: 1fr 2fr;
   padding: 20px;
}

.infoAboutMe {
   margin-left: 20px;
   padding: 0 20px;
}
.infoAboutMe > div {
   margin-bottom: 20px;
}
.avatar {
   width: 300px;
}
.avatar img {
   width: 100%;
}
.status {
   font-size: 18px;
   font-style: italic;
   font-weight: 500;
   color: rgb(66, 64, 64);
}
.editPhoto {
  
}
