.image img {
   display: block;
   width: 96%;
   height: 300px;
   padding: 20px;
}

.discriptionBlock {
   display: grid;
   grid-template-columns: 1fr 2fr;
   padding: 20px;
}

.infoAboutMe {
   margin-left: 20px;
   padding: 0 20px;
}
.infoAboutMe > div {
   margin-bottom: 10px;
}
.avatar {
   width: 300px;
}
.avatar img {
   width: 100%;
}
.status {
   font-size: 18px;
   font-style: italic;
   font-weight: 500;
   color: rgb(66, 64, 64);
}
.contact {
  /* padding-left: 20px; */
}
.btn{
   color: white;
   background: rgb(95, 153, 207);
   border: 0;
   padding: 5px;
   margin-top: 10px;
   font-size: 15px;
}
.editInput {
   width: 550px;
   display: flex;
   justify-content: space-between;
}
.input {
   width: 250px;
}
