.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}
.dialogItems {
   padding: 10px;
}
.dialogItems .active {
   color: rgb(201, 63, 143);
}

.dialogs {
}
.messages {
   padding: 10px;
}
.message {
}
