.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}
.dialogItems {
   padding: 10px;
}

.dialog a {
   color: rgb(60, 57, 66);
   text-decoration: none;
}

.messages {
   padding: 10px;
}
.message {
   color: rgb(129, 125, 124);
}
