.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}
.dialogItems {
   padding: 10px;
}
.dialog {
   padding: 5px;
}
.dialog a {
   color: rgb(60, 57, 66);
   text-decoration: none;
   margin: 0px 0px 0px 5px;
}
.dialog img {
   width: 30;
   height: 30px;
   border-radius: 50%;
}

.messages {
   padding: 10px;
}
.message {
   color: black;
}
.message:nth-child(even) {
   /* text-align: end; */
   padding-left: 100px;
   color: gray;
}
